.work-timeline {
  position: relative;
  margin: 40px auto;
  padding: 10px 0;
  width: 90%;
  max-width: 700px;
}

.work-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: #ddd;
  transform: translateX(-50%);
  border-radius: 10px;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
}

.timeline-content {
  color: black;
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.timeline-item.left .timeline-content {
  transform: translateX(-40px);
}

.timeline-item.right .timeline-content {
  transform: translateX(20px);
}

.timeline-content h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.timeline-content h4 {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.timeline-content .time {
  font-size: 14px;
  color: #888;
}

.timeline-content p {
  margin-top: 10px;
  line-height: 1.5;
}

/* Circles */
.timeline-item::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 14px;
  height: 14px;
  background: #e24a63;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.timeline-item.left::after {
  right: -7px;
}

.timeline-item.right::after {
  left: -7px;
}



@media (max-width: 480px) {
  .timeline-item.left .timeline-content {
  transform: translateX(-30px);
}

.timeline-item.right .timeline-content {
  transform: translateX(0px);
}

}
