.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.social_link {
    text-decoration: none;
}
.social_item {
    display: grid;
    place-items: center;
}
.social_item img{
    width: 50px;
    height: 50px;
}

.social_item h4 {
    color: white;
}