
.my_project {
    max-width: 700px;
    display: grid;
    place-items: center;
}
.project {
    width: 100%;
    margin-top: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.project:hover {
    background: #313030;
}
.project img {
    max-width: 90%;
    border-radius: 10px;
}

.project p {
    max-width: 80%;
}
.project_link {
    text-decoration: none;
    color: white;
}